* {
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(2, 2, 2);
    background-position: center;
    background-size: relative;
    position: relative;
}

.form-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after {
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

form p {
    text-align: left;
    font-size: 13px;
}

form p a {
    text-decoration: none;
    color: #3c00a0;
}

.btn-field {
    text-align: center; 
    margin-top: 30px; 
}

.btn-field button {
    width: 80px;
    margin: 0 10px;
    height: 60px;
    background: #3c00a0;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 1s ease; 
    color: white;
}

.btn-field button:hover {
    background: white;
    color: black; 
}

.btn-field button:active {
    transform: scale(0.95); 
}
.input-group {
    height: 280px; 
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}
